body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, footer {
  background-color: #313131;
  color: white;
  text-align: center;
  padding: 1rem;
}

.contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

button {
  margin: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
